packages:
  rpm:
    Flask: http://www.rpmfind.net/linux/opensuse/update/leap/15.0/oss/rpms/src/python-Flask-0.12.4-lp150.2.3.1.src.rpm
    cfscrape: http://widehat.opensuse.org/opensuse/distribution/leap/15.0/repo/oss/noarch/python2-cfscrape-1.9.5-lp150.1.1.src.rpm
    itsdangerous: http://vault.centos.org/7.5.1804/extras/Source/SPackages/python-itsdangerous-0.23-2.el7.src.rpm
    lxml: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-lxml-3.2.1-4.el7.src.rpm
    soupsieve: http://widehat.opensuse.org/opensuse/source/tumbleweed/repo/oss/suse/src/python-soupsieve-1.8-2.1.src.rpm
    idna: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-idna-2.4-1.el7.src.rpm
    six: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-six-1.9.0-2.el7.src.rpm
    urllib3: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-urllib3-1.10.2-5.el7.src.rpm
    pandas: http://download-ib01.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/python-pandas-0.17.1-1.el7.src.rpm
    MarkupSafe: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-markupsafe-0.11-10.el7.src.rpm
    numpy: http://vault.centos.org/7.5.1804/os/Source/SPackages/numpy-1.7.1-13.el7.src.rpm
    python-beautifulsoup4: http://download-ib01.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/python-BeautifulSoup-3.2.1-7.el7.src.rpm
    certifi: http://download-ib01.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/python-certifi-2018.10.15-4.el7.src.rpm
    python-chardet: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-chardet-2.2.1-1.el7_1.src.rpm
    pytz: http://vault.centos.org/7.5.1804/os/Source/SPackages/pytz-2016.10-2.el7.src.rpm
    python-click: http://download-ib01.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/python-click-6.7-8.el7.src.rpm
    python-jinja2: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-jinja2-2.7.2-2.el7.src.rpm
    python-dateutil: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-dateutil-1.5-7.el7.src.rpm
    python-requests: http://vault.centos.org/7.5.1804/os/Source/SPackages/python-requests-2.6.0-1.el7_1.src.rpm
    python-werkzeug: http://vault.centos.org/7.5.1804/extras/Source/SPackages/python-werkzeug-0.9.1-2.el7.src.rpm
    python-wtforms: http://download-ib01.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/python-wtforms-2.0-3.el7.src.rpm